.clearfix {
    min-height: 1%;
}

.clearfix:after {
    display: block;
    content: "";
    font-size: 0;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

@font-face{
font-family: TenorSans;
src: url(../fonts/TenorSans-Regular.ttf);
}

body{
    background: url(../img/bg.png);    
    min-width: 1280px;
    font: 30px TenorSans, Arial, Helvetica, sans-serif;
	color: #340d6f;
}

.wrapper{
    width: 960px;
    margin: 0px auto;
}

.payment {
	height: 80vh;
	padding: 10vh 0;
	position: relative;
}

.payment::after {
	content: "";
    display: block;
    width: 300px;
    height: 597px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/girl.png);
    background-repeat: no-repeat;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 60px;
}

.method {
	margin-bottom: 65px;
	font-weight: bold;
	margin-left: 95px;
}

.bank li {
	float: left;
	width: 250px;
	text-align: center;
}

.bank li+li {
	margin-left: 40px;
}

.button {
	display: block;
	border: 2px solid #3d0c81;
	border-radius: 9px;
	padding: 15px 0;
	background-color: #3d0c81;
	color: #f3f5f4;
	font: 18px "Segoe UI", Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
}

.invoice .button{
	padding: 3px 0;
}